@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Raleway', sans-serif;
	background-color: #FFF;
	background-image: url("../images/pixel-open-front.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	color: #000;
}
h1{
	text-align: center;
	padding:;
	background-color: blue;
	color:#FFF;
}
label{
	display: block;
	margin:right;
	text-align: center;
	background-color: red;
	color:white;
}
input{
	/*display:block;
	margin:auto;*/
}
.wrapper{
	text-align: center;
}
button{
	color:white;
	background-color:red;
	border:none; 
	padding: 5px;
	margin-top: 5px;

}
ul{
	text-align: center;
	padding: 300px;
	list-style: none;
	color:red;
}
.close-to-do{
	display: inline-block;
	margin-right: 10px;
}
